.about  
  color: $white
  background-color: $black
  .inner-about
    height: 300px
  .about-text
    width: 70%
    h3 
      font-size: 25px
      text-align: center
      margin-bottom: 20px
    .button-group
      margin-top: 40px
