.side-ellipse
  width: 20%
  height: 100%
  background-image: url(../images/ellipse.png)
  background-repeat: no-repeat
  background-position: center
  position: relative
  color: $white
  h3
    position: absolute
    z-index: 1 
    top: 50%
    left: 50%
    font-size: 25px
    transform: translate(-50%, -50%)
    font-family: 'Kaushan Script', cursive