footer
  height: auto
  background-color: $black
  color: $white
  .inner
    padding: 40px 0
  .inner-footer 
    display: flex
    flex-flow: row wrap 
    justify-content: space-between
  .column 
    width: 30%

  h4 
    font-family: 'Kaushan Script', cursive
    font-size: 25px
    margin-bottom: 30px

  .quote 
    span
      font-style: italic
  .newsletter
    form 
      display: flex 
      flex-flow: row nowrap 
      justify-content: space-between
      align-items: center
    input 
      padding: 10px 15px 
      width: 70%
      border-radius: 5px 0 0 5px
      border: none
    a.btn 
      width: 18%
      border-radius: 0 5px 5px 0
  .app 
    img 
      height: 32px
      width: auto
      margin-left: 15px

  